<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle js with filemtime
    RewriteRule ^js/scripts/admins/([a-zA-Z\-]+).([0-9]+).js /js/scripts/admins/$1.js [L]
    RewriteRule ^js/scripts/members/([a-zA-Z\-]+).([0-9]+).js /js/scripts/members/$1.js [L]
    RewriteRule ^vendors/js/([a-zA-Z\-]+)(.*).min.([0-9]+).js /vendors/js/$1$2.min.js [L]

    #RewriteRule ^docs/(.*).htm /storage/docs/$1.htm [L]
    RewriteRule ^docs/(.*)$ /storage/docs/$1 [L,NC]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
